<div class="upload-container">
  <div class="upload-container__inner">
    {{#simple-form class="upload-form" onsubmit=(action "uploadImg") as |uploadInfo|}}
      <div class="upload-card">
        {{input class="image-title-input input" type="text" name="imageTitle" id="" placeholder="Title For Image" value=uploadInfo.title }}
        <label class="view-threshold-lable upload-card__item" for="viewThreshold">Views 'til degeneration <span class="view-number">{{uploadInfo.degenThresh}}</span></label>
        {{input class="view-threshold-input slider" type="range" min="10" max="50" name="viewThreshold"  placeholder="0" value=uploadInfo.degenThresh}}
        <div class="add-to-homepage upload-card__item">
          <label for="add-to-homepage__title"> Make Secret link?</label>
        {{input id="add-to-homepage__title"type="checkbox" name="" class="addToHomepage" checked=uploadInfo.addHomepage}}
        </div>

        <div class="checkbox-group upload-card__item">
          <div class="checkbox-group__item">
            <label for="dither">dither</label>
            {{input id="dither" name="dither" type="checkbox" class="style-checkbox" checked=uploadInfo.dither}}
          </div>
          <div class="checkbox-group__item">
            <label for="emboss">emboss</label>
            {{input id="emboss" name="emboss" type="checkbox" class="style-checkbox" checked=uploadInfo.emboss}}
          </div>
          <div class="checkbox-group__item">
            <label for="sharpen">sharpen</label>
            {{input id="sharpen" name="sharpen" type="checkbox" class="style-checkbox" checked=uploadInfo.sharpen}}
          </div>
          <div class="checkbox-group__item">
            <label for="blur">blur</label>
            {{input id="blur" name="blur" type="checkbox" class="style-checkbox" checked=uploadInfo.blur}}
          </div>
          <div class="checkbox-group__item">
            <label for="implode">implode</label>
            {{input id="implode" name="implode" type="checkbox" class="style-checkbox" checked=uploadInfo.implode}}
          </div>
          <div class="checkbox-group__item">
            <label for="cycle">cycle</label>
            {{input id="cycle" name="cycle" type="checkbox" class="style-checkbox" checked=uploadInfo.cycle}}
          </div>
        </div>
        <div class="browse-group upload-card__item">
          <label id="file-input-lable" for="file-input">Choose File</label>
          <input id="file-input" type="file" class="browse-btn" value="browse">
        </div>
        <button type="submit" class="submit-btn upload-card__item">SUBMIT</button>
      </div>
    {{/simple-form}}

  </div>

</div>

{{outlet}}
