<div class="main-container">
  <div class="main-container__inner">
    {{#each model as |upload|}}
      <div class="post-card">
        <div class="img-frame">
          <img class="img-frame__img" src="http://localhost:3333/image/{{upload.id}}.{{upload.extension}}" alt="">
        </div>

        <h2 class="post-card__title--{{upload.viewColor}}">{{upload.title}}</h2>
        <div class="black-wrapper">
        <div class="degeneration-type">
          <p class="degeneration-type__item">{{formValues[filterTypes]}}</p>
          {{!-- <p class="degeneration-type__item">Emboss</p>
          <p class="degeneration-type__item">Sharpen</p> --}}
        </div>
        <div class="view-counts">
          <p class="views-left">{{upload.hits}} / {{upload.threshold}}</p>
        </div>
        <p>uploaded by:{{upload.user.username}}</p>
        </div>
        {{log upload.id}}
        {{#link-to 'degenerator.degenerate' upload.id}}

        <div class="view-btn">click to view</div>
        {{/link-to}}
      </div>
    {{/each}}
  </div>
</div>
