<div class="app__degenerate">
  <div class="hero__degenerate">
    <div class="nav__degenerate">
      <div class="container__degenerate">
        {{#link-to "degenerator.main" class="back__degenerate" }}
          go back
        {{/link-to}}

        <p class="title__degenerate">{{ model.title }}</p>
        <p class="views__degenerate">{{model.hits}} views</p>
      </div>
    </div>
    <div class="img-wrap__degenerate">
      <div class="img-container">
        <div class="img-frame__degenerate">
<img src="{{model.exposeUrl}}" class="img__degenerate">
          {{!-- {{lazy-image url=model.exposeUrl class="img__degenerate" errorText='Something went wrong.'}} --}}
        </div>
      </div>
    </div>
    <div class="user__degenerate">
      {{log model}}
      <p>Submitted by: {{ model.user.username }}</p>
    </div>
  </div>
</div>

{{outlet}}
